<html>
	<head>
		<title>Home page</title>
	</head>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
		.homePageTitle {
			font-size: 60;
			font-family: 'Montserrat Alternates', sans-serif;
			text-align: center;
			transition: 0.5s;
		}

		.homePageTitle:hover {
			color: red;
			transition: 0.3s;
		}
	</style>
	<body>
		<h1 class="homePageTitle">Home page</h1>
		<p class="homePageDesc">A very cool page made with flask</p>
	</body>
</html>
